.gradient__bg{
    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}
.gradient__text{
    background:var(--gradient-text);
    background-clip:text;
    -webkit-background-clop: text;
    -webkit-text-fill-color: transparent;

}

.section__padding{
    padding:4rem 6rem;
}

.section__margin{
    margin:4rem 6rem;
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
@media screen and (max-width:700px) {
    .section__padding{
        padding:4rem;
    }
    
    .section__margin{
        margin:4rem;
    }
}  
@media screen and (max-width:550px) {
    .section__padding{
        padding:4rem 2rem;
    }
    
    .section__margin{
        margin:4rem 2rem;
    }
}  
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #3857ac 1.84%, #82afd4 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #3857ac -13.86%, #67b5f4 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}